.chip {
    border: 1px solid $lightGrey;
    border-radius: 200px;
    padding: 10px 15px;
    text-transform: uppercase;
    color: $lightGrey;
    margin: 20px 30px 20px 0px;

    .close {
        position: relative;
        bottom: 1px;
        margin-left: 30px;
        font-size: 10px;
    }
    
    &:hover {
        border-color: $orange;
        color: $orange;

        a {
            color: $orange;
        }
    }
    &:last-child{
        margin-right: 0;
    }
}

