.row {
    display: flex;
    flex-direction: row;

    &.-space-between {
        justify-content: space-between;
    }

    &.-align-center {
        align-items: center;
    }

    &.-justify-end {
        justify-content: flex-end;
    }
}

.wrap {
    flex-wrap: wrap;
}

.container {
    padding: 0 15px;
    width: 1440px;
    margin: 0 auto;

    &.-text-end {
    text-align: right;
    }
}

.flex-3 {
    width: 25%;
}

.flex-4 {
    width: 33.33%;
}

.flex-5 {
    width: 41.66%;
}

.flex-6 {
    width: 50%;
}

.flex-7 {
    width: 58.33%;
}

.flex-8 {
    width: 66.66%;
    
    &.-marged {
        margin: 0 20px;
    }
}

.flex-9 {
    width: 75%;
}



.page-header {
    padding: 25px 0;
    background: $darkerGrey;

    a {
        color: #fff;
        font-size: 26px;
        font-weight: 300;
        text-transform: uppercase;
    }
}

.title {
    margin: 85px 0;

    h2 {
        font-size: 52px;
        color: $darkerGrey;
        font-weight: 300;

        strong {
            display: block;
        }
    }

    p {
        color: $lightGrey;
        font-weight: 400;
        margin-top: 20px;
    }
}

.circle {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        overflow: hidden;

        &.-medium {
            width: 45px;
            height: 45px;
        }

        &.-small {
            width: 40px;
            height: 40px;
        }
}

