$primaryColor: #4bcdcd;
$green: #88c440;
$orange: #f2b12f;
$red: #f6402c;
$blue: #00a5f5;
$darkerGrey: #282828;
$darkGrey: #262626;
$mediumGrey: #616161;
$grey: #787878;
$lightGrey: #9a9a9a;
$lighterGrey: #cbcbcb;
$whiteGrey: #eaeaeb; 
$purple: #d70a5f;